Presentacion
============

La presentación se puede ver [aquí](https://docs.google.com/presentation/d/1_Ka4289Y55T37gBKSYyx5A3xS_vfVbWEjqWqq4rjtWc/edit?usp=sharing)

# Funciones

In [6]:
x = 1
y = 2
x + y

3

In [11]:
x=1
y=2
x+y
x==10

False

<br>
`add_numbers` es una función que toma dos números y entrega su suma.

In [16]:
def sumarNumeros(x, y):
 return x + y
sumarNumeros(3,7)

10

<br>
`add_numbers` actualizado para aceptar un tercer parametro opcional. Usando `print` permite visulizar multiple salidas de una misma celda.

In [3]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 4))
print(add_numbers(1, 2, 3))

5
6

<br>
`add_numbers` actualizado para aceptar un marcador (flag) opcional.

In [4]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

<br>
Asignado la funcion `add_numbers` a la variable `a`.

In [5]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

<br>
# Tipos de variable y sequencias

<br>
Usando `type` regresa el tipo de objeto de la variable.

In [7]:
type('This is a string')

str

In [8]:
type(None)

NoneType

In [17]:
type(1)

int

In [18]:
type(1.0)

float

In [30]:
round(1.00/3)

0.0

<br>
Tuples son estructuras de datos inmutables (no pueden ser alteradas).

In [22]:
x = (1, 'a', 2, 'b', 3, 'hola')
print type(x)
print x[0]
print x[5]

x.append(1)

<type 'tuple'>
1
hola

AttributeError: 'tuple' object has no attribute 'append'

<br>
Lists son estructuras de datos que pueden ser alteradas

In [26]:
x = [1, 'a', 2, 'b',3]
x.append(3)
x

[1, 'a', 2, 'b', 3, 3]

<br>
Usando `append` se puede agregar un objeto a la lista.

In [27]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3, 3, 3.3]

<br>
Este es un ejemplo sobre como iterar por cada elemente de la lista.

In [37]:
for iteracion in x:
    print type(iteracion)
for i in range(7):
    print i,x[i]

<type 'int'>
<type 'str'>
<type 'int'>
<type 'str'>
<type 'int'>
<type 'int'>
<type 'float'>
0 1
1 a
2 2
3 b
4 3
5 3
6 3.3

<br>
Lo anterior tambien se puede hacer utilizando indices:

In [40]:
i=0
while( i != len(x) ):
    if i==3: print i
    print i,x[i]
    i = i + 1

0 1
1 a
2 2
3
3 b
4 3
5 3
6 3.3

<br>
Usa `+` para concatenar listas.

In [41]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Usa `*` para repetir listas.

In [42]:
[1]*3

[1, 1, 1]

<br>
Usa el operador `in` para verificar si un elemento está dentro de la lista.

In [43]:
print 1 in [1, 2, 3]
print 'h' in 'hola'
print 'd' in 'hola'

True
True
False

<br>
Usa corchetes para extraer una sección del string.

In [49]:
x = 'This is a string'

for i in range( len(x)  ):
    print x[i]

T
h
i
s

i
s

a

s
t
r
i
n
g

<br>
Esto entrega el último elemento de la string.

In [50]:
x[-1]

'g'

<br>
Una seccion desde el comienzo hasta el 3rd elemento.

In [51]:
x[:3]

'Thi'

<br>
Esta es una sección que comienza en ? elemento y llega hasta el final.

In [54]:
x[3:]

's is a string'

<br>
`len` entrega el numero de elementos de un diccionario, string o lista.

In [14]:
print x
print len(x)
print len([0,1,2,3])
print len('chao')

[1, 'a', 2, 'b']
4
4
4

<br>
`range` crea una lista numerica.

In [ ]:
print range(2)
print range(4)

<br>
La funcion `split` divide un string usando por defecto los espacios en blanco como separadores.

In [15]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selecciona el primer elemento de la lista
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] seleccional el último elemento de la lista
print(firstname)
print(lastname)
firstname = 'Christopher Arthur Hansen Brooks'.split('h')[0] # [0] selecciona el primer elemento de la lista
lastname = 'Christopher Arthur Hansen Brooks'.split('A')[-1] # [-1] seleccional el último elemento de la lista
print(firstname)
print(lastname)

Christopher
Brooks
C
rthur Hansen Brooks

In [59]:
'Christopher Arthur Hansen Brooks'.split('o')

['Christ', 'pher Arthur Hansen Br', '', 'ks']

<br>
Asegurate de convertir a string todos los elementos que quieres concatenar.

In [ ]:
'Chris' + 2

In [ ]:
'Chris' + str(2)

<br>
Dictionarios asocian llaves (keys) con valores.

In [ ]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Devuelve un valor segun la key

In [ ]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

<br>
Itera sobre usando las llaves como indices:

In [ ]:
for name in x:
    print(x[name])

<br>
Itera sobre todos los valores del diccionario.

In [ ]:
for email in x.values():
    print(email)

<br>
Itera sobre todos los elementos del diccionario:

In [ ]:
for name, email in x.items():
    print(name)
    print(email)

# Ejercicios

In [66]:
# DNA es el material genetico de un determinado organimso
# seq es una muestra de material genetico
DNA='ACGTCTTTCCGCATCATTCTAACTCCGCATTGTCCTTACGATACCGATTACGATTCACGATACCGCATTTACGATACGTCAGATACTCCGACATTTACGATACTCC'
seq='ACGATTCACGAT'

def esta(x,y):
    return x in y
esta(seq,DNA)

def esta2(x,y):
    y.split(x)

In [67]:
xx=DNA.split(seq)
len(xx[0])

49

In [ ]:
# 1. Determina si en seq se encuentra presente en DNA.

In [ ]:
# 2. Crea una función que tome como argumentos DNA y seq y entregue valores de
# 0 si la sequencia existe en el DNA,
# ó 1 de otra manera

In [ ]:
# 3. Crea una función que tome como argumentos DNA y sequencia y entregue la posicion en donde seq 
# se encuentra dentro de DNA

In [21]:
def test(DNA,seq):
    if seq in DNA:
        return 0
    else:
        return 1

In [24]:
test(DNA,seq)

0

In [26]:
def where(DNA,seq):
    for i in range(len(DNA)):
        section=DNA[i:i+len(seq)]
        if section == seq:
            return i

In [27]:
where(DNA,seq)

11